<!-- index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constellation</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['\\(', '\\)']],
                displayMath: [['\\[', '\\]']],
            },
            svg: {
                fontCache: 'global'
            },
            options: {
                enableMenu: false // Désactive le menu contextuel
            }
        };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>

</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
        </div>
    
        <div class="chat-main">
            <div id="chat-box" class="chat-box"></div>
            
            <div class="input-container">
                <div class="input-wrapper">
                    <textarea id="message" placeholder="Écrivez votre message..."></textarea>
                    <div class="input-buttons">
                        <button id="send-button">
                            <img src="/static/images/icons/send_icon.png" alt="Send">
                        </button>
                        <button id="attach-button">
                            <img src="/static/images/icons/attachment-icon.png" alt="Attach">
                        </button>
                    </div>
                </div>
            </div>
        </div> <!-- Fermeture de chat-main -->
    </div> <!-- Fermeture de chat-container -->
    <script src="/static/script.js"></script>
</body>
</html>